@use "base.scss" as *;

// Tablets
@media (max-width: 768px) and (min-width: 500px) {
  #hero {
    .hero__video {
      display: none;
    }
  }

  #about {
    .about__img__container {
      .about__img__left {
        margin-left: unset;
      }
    }
  }
}

// Phones
@media (max-width: 500px) {
  #navBar {
    margin-bottom: 4rem;

    .navBar__inner {
      .navBar__btn {
        display: none;
      }
    }
  }

  #hero {
    margin-bottom: -10rem;

    .hero__content {
      .hero__info {
        padding: 0rem 0.5rem 0rem 1rem;

        .hero__links {
          display: block;
          margin-right: 2rem;

          div:nth-of-type(1) {
            margin-bottom: 1rem;
          }
        }
      }

      .hero__video {
        display: none;
      }
    }
  }

  #about {
    padding: 7rem 0rem;
    margin-bottom: 2rem;

    .about__img__container {
      .about__img__left {
        margin-left: unset;
      }
    }
  }

  #testimonials {
    margin-bottom: 5rem;

    .testimonials__title {
      text-align: left;
      padding: 0 1rem 0.5rem 1.5rem;
    }

    .testimonials__cards {
      grid-template-areas:
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5"
        "card-6";

      .testimonials__card {
        max-width: 275px;
      }
    }
  }

  #footer {
    padding: 2rem 0rem;

    .footer__content {
      display: none;
    }

    .footer__links {
      > a {
        margin: 0rem 1rem;
      }
    }
  }
}

// Phones
@media (max-width: 500px) and (max-height: 800px) {
  #hero {
    margin-bottom: 0rem;
  }
}
